body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    background-color: #161923;
    color: #bcbdd0;
  }
  
  a {
    text-decoration: none;
    color: #bcbdd0;
    transition: all .2s;
  }
  
  a:hover {
    color: #fd5;
  }
  
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #2a2e3b;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav .logo {
    display: flex;
    align-items: center;
    margin-left: 5px;
  }
  
  nav .logo h2 {
    margin: 5px;
  }
  
  nav .logo img {
    height: 40px;
    margin: 5px;
    margin-right: 0;
  }
  
  nav .sections {
    margin: 0;
    padding: 0 5px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  main h1 {
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  main .description {
    padding: 0;
    margin: 10px;
    text-align: center;
    color: #737480;
  }
  
  main h2 {
    padding: 10px;
    margin: 0;
    background-color: #2a2e3b;
  }
  
  main p {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    max-width: 700px;
  }
  
  main p a {
    text-decoration: underline;
  }
  
  main .featured {
    position: relative;
  }
  
  main .featured h3 {
    color: #fd5;
  }
  
  main .featured p {
    text-align: center;
  }
  
  main .featured .left, main .featured .right {
    width: 100%;
    height: 400px;
    position: relative;
  }
  
  main .featured .container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  main .featured .left .container {
    float: left;
  }
  
  main .featured .right .container {
    float: right;
  }
  
  main .featured .container {
    width: 80%;
    position: relative;
    overflow: hidden;
  }
  
  main .featured .left .container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #161923);
    pointer-events: none;
  }
  
  main .featured .right .container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #161923);
    pointer-events: none;
  }
  
  main .featured .image-overlay {
    position: absolute;
    top: 200px;
    width: 90%;
    height: 30%;
    background: rgba(0, 0, 0, .7);
    padding: 1em;
  }
  
  main .featured .left .image-overlay {
    right: -100%;
    box-sizing: border-box;
    transition: transform .4s ease-in-out;
    transform: translateX(100%);
  }
  
  main .featured .right .image-overlay {
    right: 100%;
    box-sizing: border-box;
    transition: transform .4s ease-in-out;
    transform: translateX(-100%);
  }
  
  main .featured .left:hover .image-overlay {
    transform: translateX(0);
    right: 0;
  }
  
  main .featured .right:hover .image-overlay {
    transform: translateX(10px);
    right: 12%;
  }
  
  footer {
    position: relative;
    clear: both;
    height: 81px;
    margin-top: 20px;
    margin-left: 0;
    background-color: #2a2e3b;
    color: #737480;
    padding: 5px;
  }
  
  footer .icons {
    padding-left: 0;
    margin: 5px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
  }
  
  footer .icons img {
    filter: brightness(0%) invert(91%) sepia(95%) saturate(7467%) hue-rotate(314deg) brightness(105%) contrast(113%);
    height: 25px;
    margin: 5px;
  }
  
  footer p {
    margin: 5px;
    font-size: small;
  }
  
  @media only screen and (min-width: 600px) {
    .logo {
      background-color: #161923;
    }
  
    main .featured {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  
    main .featured .image-overlay {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 900px) {
    .logo {
      background-color: #2a2e3b;
    }
  
    main {
      min-width: 720px;
      width: 50%;
      margin: 0 auto;
    }
  }
  