#contact {
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: $nav-height;
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;
    padding: 0 5% 5% 5%;

    #content {
        background-color: $bg-color-light;
        max-width: 500px; // Set max width to 600px
        margin: 0 auto; // Center the div
        margin-top: $nav-height;
        border-radius: 10px;
        padding: 5px;
		position: relative;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }

	table {
		margin: 10px;
	}

	tr {
		max-height: 80px;
        p {
            text-align: left;
        }
	}

	img {
		width: 70px;
		height: 70px;
	}

	p {
		margin-left: 20px;
		margin-right: 20px;
	}
}