$featured-height: 350px;

#featured {
    position: relative;
    max-width: $desktop-width;
    margin: 0 auto;

    .title {
        color: $accent-color;
    }

    .description {
        text-align: center;
    }

    .featuredItem {
        overflow: hidden;
    }

    .left,
    .right {
        width: 100%;
        height: $featured-height;
        position: relative;
    }

    img {
        width: 100%;
        height: $featured-height;
        object-fit: cover;
        // margin-bottom: 10px;
    }

    // IMAGE CONTAINER

    // Positioning
    .left .container {
        float: left;
    }

    .right .container {
        float: right;
    }

    .container {
        position: relative;
        width: 80%;
    }

    // Effects
    .container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .left .container::after {
        background: linear-gradient(to right, rgba(255, 255, 255, 0), $bg-color);
    }

    .right .container::after {
        background: linear-gradient(to left, rgba(255, 255, 255, 0), $bg-color);
    }

    .overlay {
        position: absolute;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 30%;
        box-sizing: border-box;
        transition: transform 0.4s ease-in-out;
        background: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }

    .left .overlay {
        right: -100%;
        transform: translateX(120%);
    }

    .right .overlay {
        right: 100%;
        transform: translateX(-120%);
    }

    .left:hover .overlay{
        transform: translateX(0);
    }

    .right:hover .overlay {
        transform: translateX(0);
    }

    // Mouseless devices won't have the hover effect
    @media (hover: none) {
        .left .overlay,
        .right .overlay {
            transform: translateX(0);
        }
    }
}