

footer {
	position: relative;
	clear: both;
	height: $footer-height;
	margin-top: 20px;
	margin-left: 0px;
	background-color: $bg-color-light;
	color: $secondary-color;
	padding: 5px;

	transition: 0.5s;

	.icons {
		padding-left: 0px;
		margin: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	p {
		margin: 5px;
		font-size: small;
	}
}