$bg-color: #161923;
$bg-color-light: #2a2e3b;
$primary-color: #bcbdd0;
$secondary-color: #737480;
$text-color: #bcbdd0;
$accent-color: #ffdd55;

$nav-height: 50px;
$footer-height: 81px;

$tablet-width: 768px;
$desktop-width: 1025px;
$smoll-width: 410px;

$markdown-width: 900px;

html,
body {
	height: 100%;
}

body {
	font-family: sans-serif;
	text-align: center;
	margin: 0;
	background-color: $bg-color;
	color: $text-color;

	display: flex;
	flex-direction: column;
}

@import "nav";
@import "contact-info";
@import "featured";
@import "reader";
@import "markdown";
@import "footer";
@import "other";

// Hidden attribute
.hidden {
	display: none;
}

.fade-toggle {
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.fade-in {
	opacity: 1;
}

.fade-out {
	opacity: 0;
}

// Default styles for all sections (Mobile) //////////////////////
//////////////////////////////////////////////////////////////////

// Links will be styled with the accent color
a {
	text-decoration: none;
	color: $primary-color;
	transition: 0.2s;

	&:hover {
		color: $accent-color;
	}
}

// Buttons will be styled similarly
button {
	background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

	text-decoration: none;
	color: $primary-color;
	transition: 0.2s;

	&:hover {
		color: $accent-color;
	}
	&:disabled:hover {
		color: $text-color;
		cursor: default;
	}
}

#main {
	flex: 1;
	margin-top: $nav-height;

	h1 {
		margin-top: 20px;
		margin-bottom: 20px;
		// padding: 20 0 0 20px;
		// color: white;
	}

	.description {
		padding: 0;
		margin: 10px;
		text-align: center;
		color: $secondary-color;
	}

	h2 {
		padding: 10px;
		margin: 0px;
		background-color: $bg-color-light;
	}

	p {
		padding-left: 20px;
		padding-right: 20px;
		text-align: left;
		// max-width: 700px;
		line-height: 1.5em;

		a {
			text-decoration: underline;
		}
	}
}

.closebtn {
	font-size: large;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 5px 10px;
	color: white;
	border: none;
}
