.markdown-body {
    margin: 0 auto;
    max-width: $markdown-width;
    padding: 20px;
    transition: 0.5s;

    img {
        // Centered
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 400px;
    }

    h2, h3, h4 {
        // Images inside headings can be bigger
        img {
            max-height: 100%;
        }
    }

    h3 {
        text-align: left;
        margin: 0 20px;
        margin-top: 40px;
        padding-left: 20px;
        // A line under the heading
        border-bottom: 1px solid $secondary-color;
    }

    li {
        text-align: left;
    }

    // Bold text is highlighted instead
    strong {
        font-weight: inherit;
        color: $accent-color;
    }

    // Code blocks
    pre {
        background-color: $bg-color-light;
        padding: 10px;
        font-size: large;
        margin: auto;
        border-radius: 5px;
        overflow-x: auto;
        max-width: 80%;

        code {
            font-family: monospace;
            text-align: left;
        }
    }

    blockquote {
        border-left: 5px solid $bg-color-light;
        margin-left: 30px;
        margin-right: 30px;
        p {
            padding: 0 10px;
        }
    }

    iframe {
        display: block;
        max-width: 100%;
        border: 3px solid rgba($secondary-color, 0.4);
        border-radius: 5px;
        
        &:focus {
            border: 3px solid rgba($accent-color, 1.0);
        //     border-color: $accent-color; // or any variable you want
        //     box-shadow: 0 0 0 3px rgba($accent-color, 0.25);
        }
    }
}

// @media only screen and (max-width: $tablet-width) {
// 	.markdown-body .pre {
//         max-width: 100%;
//         padding: 0px;
//     }
// }
