
// Navigation //
nav {
	position: fixed;
	width: 100%;
	height: $nav-height;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	background-color: $bg-color-light;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

	li {
		margin: 0 10px;
	}

	// Logo and title
	.logo {
		display: flex;
		align-items: center;
		margin-left: 5px;

		h2 {
			margin: 5px;
		}
		img {
			height: 40px;
			margin: 5px;
			margin-right: 0px;
		}
	}

	// Navigation links
	.sections {
		margin: 0px;
		// padding: 0 5 0px;
		padding-right: 5px;
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}