
// Navigation //
nav {
	position: fixed;
	width: 100%;
	height: $nav-height;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	padding: 0px;
	background-color: $bg-color-light;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

	ul {
		padding: 0px;
		overflow-x: auto;
	}
}

// Logo and title
.main-logo {
	display: flex;
	align-items: center;
	margin-left: 5px;

	h2 {
		margin: 5px;
	}
	img {
		height: 40px;
		margin: 5px;
		margin-right: 0px;
	}
}

// Navigation
.nav-sections {
	margin: 0px;
	padding-right: 5px;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	overflow-x: auto;

	li {
		display: inline-block;
		margin: 0 11px;
	}
}

@media only screen and (max-width: $smoll-width) {
	// For testing purposes
	.main-logo {
		background-color: $bg-color;
	}

	.nav-sections li {
			margin: 0 7px;
	}

}

@media only screen and (min-width: $tablet-width) {

	// For testing purposes
	.main-logo {
		background-color: $bg-color;
	}
}

@media only screen and (min-width: $desktop-width) {

	// For testing purposes
	.main-logo {
		background-color: $bg-color-light;
	}
}