<div id="content">
    <button class="closebtn" onclick="toggleContactInfo()">&times;</button>
    <h1>Contact</h1>
    <p>Feel free to contact me at my socials</p>
    <table class="contact-icons">
        <tr>
            <td>
                <a href="https://www.deviantart.com/xoradart" target="_blank"><img src="assets/deviantart_icon.svg" alt="DeviantArt"></a>
            </td>
            <td>
                <p>My latest drawings are somewhere around there on DeviantArt</p>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://www.pixiv.net/en/users/74081164" target="_blank"><img src="assets/pixiv-icon.svg" alt="Pixiv"></a>
            </td>
            <td>
                <p>My latest (weeb) drawings are on Pixiv</p>
            </td>
        </tr>
        <tr>
            <td>
                <a href="patreon" target="_blank"><img src="assets/patreon-icon.svg" alt="Patreon"></a>
            </td>
            <td>
                <p>If you want me to make more things. (I don't even have a Patreon (yet))</p>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://www.instagram.com/xoradart/" target="_blank"><img src="assets/instagram-icon.svg" alt="Instagram"></a>
            </td>
            <td>
                <p>I now have an Instagram like everyone else.</p>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://github.com/xorad-art/xorad-art.github.io" target="_blank"><img src="assets/github-icon.svg" alt="Github"></a>
            </td>
            <td>
                <p>This site, along with other projects are on GitHub</p>
            </td>
            <td></td> <!-- Empty cell in the last row to maintain the layout -->
        </tr>
    </table>
</div>
