<ul class="icons">
    <li><a href="https://github.com/xorad-art" target="_blank"><img src="assets/github-icon.svg" alt="Github"></a></li>
    <li><a href="https://www.pixiv.net/en/users/74081164" target="_blank"><img src="assets/pixiv-initials.svg" alt="Pixiv"></a></li>
    <!-- Not anymore, thank you Elon -->
    <!-- <li><a href="twitter" target="_blank"><img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/1024px-Logo_of_Twitter.svg.png"
                alt="Twitter"></a></li> -->
    <li><a href="https://www.deviantart.com/xoradart" target="_blank"><img src="assets/deviantart_icon.svg" alt="DeviantArt"></a></li>

    <li><a href="mail" target="_blank"><img src="assets/mail-icon.svg" alt="Gmail"></a></li>
    <li><a href="patreon" target="_blank"><img src="assets/patreon-icon.svg" alt="Patreon"></a></li>
</ul>
<p>© 2024 XoradArt. All rights reserved.</p>