<a href="/" class="logo"><img src="assets/logo-gold.png" alt="Home">
    <h2>Xorad</h2>
</a>
<ul class="sections">
    <li><button onclick="loadMarkdown('main', 'assets/content/projects.md')">Projects</button></li>
    <li><button onclick="loadMarkdown('main', 'assets/content/blog.md')">Blog</button></li>
    <li><button onclick="loadMarkdown('main', 'assets/content/contact.md')">Contact</button></li>
    <li><button onclick="loadMarkdown('main', 'assets/content/about.md')">About</button></li>
</ul>